@using CattleCompanion.Core.ViewModels
@model CattleCompanion.Core.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}

<div class="center-content text-center h-100">
    <section id="loginForm" class="form-signin">
        <h1 class="h2 mb-3">Cattle Companion</h1>
        <h2 class="h3 mb-3 font-weight-normal">Log In</h2>
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.LabelFor(m => m.Email, new {@class = "sr-only"})
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "Email address"})
            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
            @Html.LabelFor(m => m.Password, new {@class = "sr-only"})
            @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Password"})
            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
            <div class="checkbox mt-3">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </label>
            </div>
            <button type="submit" value="Log in" class="btn btn-lg btn-primary btn-block">Sign In</button>
            <p class="my-3"></p>
            @Html.ActionLink("Register", "Register", new {area = ""})

        @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}