@using System.Activities.Expressions
@using CattleCompanion.Core.Models
@model CattleCompanion.Core.Models.CowDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="cow-id" class="mt-5" data-id="@Model.Cow.Id">
    @Model.Cow.GivenId (@Model.Cow.Gender) 
    @Html.ActionLink("Edit", "EditCow", new { id = Model.Cow.Id },
         new { @class = "text-small text-muted" })
    @Html.ActionLink("Delete", "Delete", new {id = Model.Cow.Id},
         new {@class = "text-small text-muted delete-cow", @data_toggle = "modal", @data_target = "#deleteConfirmation"})
</h2>
<h3>@Html.ActionLink(Model.Cow.Farm.Name, "Details", "Farms", new { url = Model.Cow.Farm.Url }, null)</h3>
<h4>@Model.Cow.Birthday.ToString("d")</h4>

<h3 class="mt-5 mb-0">Events</h3>
<div id="cow-events" class="my-3">
    @if (!Model.Cow.CowEvents.Any())
    {
        <p class="empty-events">There are no events to display.</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (CowEvent cowEvent in @Model.Cow.CowEvents)
            {
                <li class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@cowEvent.Event.Name</h5>
                        <small>@cowEvent.Date.ToString("d")</small>
                    </div>
                    <p class="mb-1">@cowEvent.Description</p>
                </li>
            }
        </ul>
    }
</div>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addEvent">
    Add Event
</button>

<h3 class="mt-5">Family</h3>
<div id="parents-container">
    <h5 class="my-3">Parents</h5>

    @if (Model.Cow.MotherId != null)
    {
        <p id="mother" class="list-group-item d-flex" data-id="@Model.Cow.Mother.Id">
            @Html.ActionLink(Model.Cow.Mother.GivenId, "Details", new { id = Model.Cow.MotherId }, new { @class = "given-id" })
            <span>&nbsp;- Mother</span>
            <small class="remove-item remove-mother-confirm">Remove</small>
        </p>
        <button type="button" class="btn btn-primary btn-sm add-mother d-none">Add Mother</button>
    }
    else
    {
        <button type="button" class="btn btn-primary btn-sm add-mother">Add Mother</button>
    }

    <div class="form-group add-mother-menu d-none my-2">
        <select id="mothers" class="form-control mb-3">
            @foreach (Cow cow in Model.PossibleMothers)
            {
                <option value="@cow.Id">@cow.GivenId</option>
            }
        </select>
        <button type="button" class="btn btn-primary btn-sm cancel-add-mother">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm save-mother">Save Mother</button>
    </div>

    @if (Model.Cow.FatherId != null)
    {
        <p id="father" class="list-group-item d-flex" data-id="@Model.Cow.FatherId">
            @Html.ActionLink(Model.Cow.Father.GivenId, "Details", new { id = Model.Cow.FatherId }, new { @class = "given-id"})
            <span>&nbsp;- Father</span>
            <small class="remove-item remove-father-confirm">Remove</small>
        </p>
        <button type="button" class="btn btn-primary btn-sm add-father d-none">Add Father</button>
    }
    else
    {
        <button type="button" class="btn btn-primary btn-sm add-father">Add Father</button>
    }

    <div class="form-group add-father-menu d-none my-2">
        <select id="fathers" class="form-control mb-3">
            @foreach (Cow cow in Model.PossibleFathers)
            {
                <option value="@cow.Id">@cow.GivenId</option>
            }
        </select>
        <button type="button" class="btn btn-primary btn-sm cancel-add-father">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm save-father">Save Father</button>
    </div>
</div>

<div id="children-container">
    <h5 class="my-3">Children</h5>
    @if (!Model.Children.Any())
    {
        <p id="empty-children">Empty.</p>
    }
    else
    {
        <ul class="list-group mb-3">
            @foreach (var cow in Model.Children)
            {
                <li class="list-group-item d-flex" data-id="@cow.Id">
                    @Html.ActionLink(cow.GivenId, "Details", new { id = cow.Id }, new { @class = "given-id"})
                    <small class="remove-item remove-child-confirm">Remove</small>
                </li>
            }
        </ul>
    }

    <button type="button" class="btn btn-primary btn-sm add-child">Add Child</button>
    <div class="form-group add-child-menu d-none my-2">
        <select id="children" class="form-control mb-3">
            @foreach (Cow cow in Model.PossibleChildren)
            {
                <option value="@cow.Id">@cow.GivenId</option>
            }
        </select>
        <button type="button" class="btn btn-primary btn-sm cancel-add-child">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm save-child">Save child</button>
    </div>
</div>

<div id="siblings">
    <h5 class="my-3">Siblings</h5>
    @if (!Model.Siblings.Any())
    {
        <p id="empty-siblings">Empty.</p>
    }
    else
    {
        <ul class="list-group my-3">
            @foreach (var cow in Model.Siblings)
            {
                <li class="list-group-item"
                    data-id="@cow.Id"
                    data-mother-id="@cow.MotherId"
                    data-father-id="@cow.FatherId">
                    @Html.ActionLink(cow.GivenId, "Details", new { id = cow.Id })
                </li>
            }
        </ul>
    }
</div>

<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="addEventLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEventLabel">Add Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="event-form">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Events)
                        @Html.DropDownListFor(m => m.Events, new SelectList(Model.Events, "Id", "Name"), "", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="CowEventDate">Date</label>
                        <input id="CowEventDate" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="CowEventDescription">Description</label>
                        <input id="CowEventDescription" type="text" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary add-event">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationLabel">Are you sure you want to delete @Model.Cow.GivenId?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                @Html.ActionLink("Yes", "Delete", new { Model.Cow.Id }, new { @class = "btn btn-primary", @role = "button" })
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeConfirmation" tabindex="-1" role="dialog" aria-labelledby="removeConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeConfirmationLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary remove-no" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary remove-yes">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newCow" tabindex="-1" role="dialog" aria-labelledby="newCowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCowLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                @Html.ActionLink("Yes", "Create", new { id = Model.Cow.FarmId }, new { @class = "btn btn-primary", @role = "button" })
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="alertLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/app/CowDetails.js"></script>

@section scripts{
    <script>
        $(document).on('ready', function () {
            CowDetails.init();
        });
    </script>
}
