@using CattleCompanion.Core.Models
@model CattleCompanion.Core.Models.Farm
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-5">
    @Model.Name 
    @Html.ActionLink("Edit", "EditFarm", new { id = Model.Id },
        new { @class = "text-small text-muted" })
    @Html.ActionLink("Delete", "Delete", new {id = Model.Id},
        new {@class = "text-small text-muted delete-farm", @data_toggle = "modal", @data_target = "#deleteConfirmation"})
</h2>
@if (Model.Cattle.Any())
{
    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">Name or Id</th>
            <th scope="col">Gender</th>
            <th scope="col">Birthday</th>
        </tr>
        </thead>
        <tbody>
            @foreach (Cow cow in Model.Cattle)
            {
            <tr>
                <td>@Html.ActionLink(cow.GivenId, "Details", "Cattle", new { id = @cow.Id }, null)</td>
                <td>@cow.Gender</td>
                <td>@cow.Birthday.ToString("d")</td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>This farm doesn't have any cattle. Click below to add a cow to your farm!</p>
}

<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationLabel">Are you sure you want to delete @Model.Name?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                @Html.ActionLink("Yes", "Delete", new { Model.Id }, new { @class = "btn btn-primary", role = "button" })
            </div>
        </div>
    </div>
</div>
    
@Html.ActionLink("Add a Cow", "Create", "Cattle", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })

<script src="~/Scripts/app/FarmDetails.js"></script>

@section scripts{
    <script>
        $(document).on('ready', function() {
            FarmDetails.init();
        });
    </script>
}